.frame{
    height: 800px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.message-list{
    height: 100%;
    background-color: bisque;
}
.message{
    height: 100px;
    background-color: beige;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.message input{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
}
.message button{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
}
.message button:hover{
    background-color: lightblue;
}
.message-head{
    margin-bottom: 5px;
    margin-left: 10px;
}
.message-author{
    font-style: italic;
    color: darkred;
}
.message-text{
    margin-left: 25px;
    margin-top: 0;
    color: darkblue;
}